.form {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.titleContainer {
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
}

.paginationButtonsContainer {
  width: 100%;
  height: 3rem;
}

.createPostContainer {
  margin-top: 2rem;
  width: 100%;
}
