.container {
  height: 100%;
  width: 100%;
  padding: 0rem 4rem;
  margin-bottom: 25rem;
}

.titleContainer {
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
}

.paginationButtonsContainer {
  width: 100%;
  height: 3rem;
}

.createPostContainer {
  margin-top: 2rem;
  width: 100%;
}
